version: '3.8'
services:
  api:
    build: .
    ports:
      - '3000:3000'
    environment:
      - MONGO_URI=mongodb://mongo:27017/social-media-robot
      - JWT_SECRET=testsecret
      - STRIPE_SECRET_KEY=
      - STRIPE_WEBHOOK_SECRET=
      - STRIPE_PRO_PRICE_ID=
      - STRIPE_BUSINESS_PRICE_ID=
      - TWITTER_API_KEY=
      - TWITTER_API_SECRET=
      - FRONTEND_URL=http://localhost:3000
      - PORT=3000
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
